[submodule "submodule-child"]
	path = submodule-child
	url = https://github.com/bao-olli/submodule-child.git
[submodule "submodule-child1"]
	path = submodule-child1
	url = https://github.com/bao-olli/submodule-child1.git
