[submodule "submodule-child"]
	path = submodule-child
	url = https://github.com/bao-olli/submodule-child.git
[submodule "submodule-child1"]
	path = submodule-child1
	url = https://github.com/bao-olli/submodule-child1.git
[submodule "maika-sh-db-model"]
	path = maika-sh-db-model
	url = https://github.com/olli-ai/maika-sh-db-model.git
[submodule "app/model"]
	path = app/model
	url = https://github.com/olli-ai/maika-sh-db-model.git
